/* Basic style */
:root {
  --primary: #fff;
  --secondary: #050840;
  --highlight-primary: #7ce7c9;
  --highlight-secondary: #9d7beb;
  --highlight-third: #fff184;
  --radius: 0.5rem;
  --pill: 2rem;
  --line: 0.1rem;
}
* {
  box-sizing: border-box;
}
body {
  margin: 2rem;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  background: var(--secondary);
}
section {
  max-width: 90vw;
}
a {
  display: inline-block;
  margin: 0.2em;
  padding: 0.4em 0.8em;
  background: var(--secondary);
  color: var(--highlight-primary);
  border: var(--line) solid var(--highlight-primary);
  border-radius: var(--pill);
  font-weight: normal;
  text-decoration: none;
}
a:hover {
  color: var(--primary);
  border-color: var(--primary);
}

/* UI Event Classes */

/* Jump animation on the interaction link */
a:nth-of-type(1) {
  position: relative;
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.jump {
  animation-name: jump;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

@keyframes jump {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-5rem) rotate(40deg);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-0.5rem) rotate(-10deg);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

/* Jouw animaties */

a:nth-of-type(2) {
  position: relative;
  background: var(--highlight-primary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.rotate {
  animation-name: rotate;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes rotate {
  30% {
    transform: scale(0.9, 1.1) translateY(-5rem) rotate(180deg);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0) rotate(360deg);
  }
}

/* -----------------------3------------------ */

a:nth-of-type(3) {
  position: relative;
  background: var(--highlight-primary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.swipe {
  animation-name: swipe;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1s;
  animation-iteration-count: 4;
}

@keyframes swipe {
  10% {
    background: #fff184;
  }

  20% {
    background: #ff0000;
  }

  30% {
    background: #003cff;
  }

  40% {
    background: #000000;
  }

  50% {
    background: #fc02f0;
  }

  60% {
    background: #00b2f8;
  }

  70% {
    background: #f2f2f2;
  }

  80% {
    background: #5e8040;
  }

  90% {
    background: #ad2ef6;
  }

  100% {
    background: #f6a32e;
  }
}
/* ----------------------4----------------------- */

a:nth-of-type(4) {
  position: relative;
  background: #fff;
  color: var(--secondary);
  border-color: var(--secondary);
}

.mouse {
  animation-name: mouse;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 5s;
}

@keyframes mouse {
  5% {
    transform: scale(2) translateY(0);
  }
  10% {
    transform: scale(3, 0.9) translateY(20rem);
  }
  30% {
    transform: scale(4, 1.1) rotate(180deg);
  }
  50% {
    transform: scale(2, 0.95) translateY(0) rotate(180deg);
  }
  57% {
    transform: scale(1, 1) translateY(-0.5rem) translateX(5rem) rotate(-10deg);
  }
  64% {
    transform: scale(0.8, 1) translateY(0) translateX(2.5rem) rotate(180deg);
  }
  100% {
    transform: scale(1, 1) translateY(0) translateX(0rem) rotate(180deg);
  }
}

/* ----------------------------------5----------------------------- */

a:nth-of-type(5) {
  position: relative;
  background: #fff;
  color: var(--secondary);
  border-color: var(--secondary);
}

.vibration {
  animation-name: shake;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1s;
  animation-iteration-count: 4;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0) rotate(0deg) translateY(0);
  }
  15%,
  35%,
  55%,
  75%,
  95% {
    transform: translateX(-15px) rotate(-5deg);
  }
  25%,
  45%,
  65%,
  85% {
    transform: translateX(10px) rotate(2deg);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateY(5px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateY(-15px);
  }
}

/* --------------------------------6----------------------------- */

a:nth-of-type(6) {
  position: relative;
  background: rgb(255, 0, 0);
  color: wheat;
  border-color: #fff;
}

.windowmove {
  animation-name: move;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 10s;
}

@keyframes move {
  5% {
    transform: scale(1) translateY(0);
  }
  10% {
    transform: scale(2) translateY(15rem) rotate(40deg);
  }
  20% {
    transform: scale(2) translateY(15rem) rotate(60deg);
  }
  30% {
    transform: scale(2) translateY(15rem) rotate(80deg);
  }
  40% {
    transform: scale(2) translateY(15rem) rotate(100deg);
  }
  50% {
    transform: scale(2) translateY(15rem) rotate(120deg);
  }
  60% {
    transform: scale(2) translateY(15rem) rotate(160deg);
  }
  70% {
    transform: scale(2) translateY(15rem) rotate(200deg);
  }
  80% {
    transform: scale(2) translateY(15rem) rotate(250deg);
  }
  90% {
    transform: scale(2) translateY(15rem) rotate(300deg);
  }

  100% {
    transform: scale(2) translateY(15rem) rotate(360deg);
  }
}

/* ----------------------------7---------------------------- */

a:nth-of-type(7) {
  position: relative;
  background: rgb(0, 255, 21);
  color: wheat;
  border-color: #fff;
}

.scale {
  animation-name: scale;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 5s;
  animation-iteration-count: 1;
}

@keyframes scale {
  10% {
    transform: scale(5) translateY(5rem);
  }
  30% {
    transform: rotate(360deg);
    margin-left: -50rem;
  }

  50% {
    transform: rotate(-360deg) translateY(3rem);
  }
}

/* ---------------------------------8--------------------------- */

a:nth-of-type(8) {
  position: relative;
  background: rgb(255, 0, 195);
  color: wheat;
  border-color: #fff;
}

.slide {
  animation-name: slide;
  animation-timing-function: cubic-bezier(1, 0, 0, 0.99);
  animation-duration: 4s;
  animation-iteration-count: 1;
}

@keyframes slide {
  from {
    margin-top: 5rem;
    margin-left: 300%;
  }

  50% {
    font-size: 300%;
    margin-left: 25%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 50%;
  }
}

/* -----------------------------------9------------------------ */

a:nth-of-type(9) {
  position: relative;
  background: rgb(246, 255, 0);
  color: wheat;
  border-color: #fff;
}

.flipup {
  animation-name: flip;
  animation-timing-function: cubic-bezier(0, 0.01, 1, 1);
  animation-duration: 5s;
  animation-iteration-count: 1;
}
@keyframes flip {
  10% {
    transform: rotate(-100deg) translateY(3rem);
  }
  40% {
    transform: rotate(100deg) translateY(3rem);
  }

  60% {
    transform: rotate(-120deg) translateY(3rem);
  }

  80% {
    transform: rotate(120deg) translateY(3rem);
  }
  90% {
    transform: scale(4);
  }
}

/* --------------------------10------------------------- */

a:nth-of-type(10) {
  position: relative;
  background: #3c00ff;
  color: #ffffff;
  border-color: #fff;
}

.loop {
  animation-name: loopit;
  animation-timing-function: cubic-bezier(1, 0, 0, 0.99);
  animation-duration: 7s;
  animation-iteration-count: 1;
}

@keyframes loopit {
  10% {
    transform: translateY(15rem) rotate(-360deg);
  }
  20% {
    transform: translateY(15rem) rotate(360deg) scale(3);
  }
  30% {
    transform: translateY(15rem) rotate(-360deg);
  }
  40% {
    transform: translateY(15rem) rotate(360deg) scale(4);
  }
  50% {
    transform: translateY(15rem) rotate(-360deg);
  }
  60% {
    transform: translateY(15rem) rotate(360deg) scale(3);
  }
  70% {
    transform: translateY(15rem) rotate(-360deg);
  }
  80% {
    transform: translateY(15rem) rotate(360deg) scale(4);
  }
  90% {
    transform: translateY(15rem) rotate(-360deg);
  }
  100% {
    transform: translateY(15rem) rotate(360deg) scale(3);
  }
}
